.vscode
/.snakemake
/1_ParentCall
/2_Filtering
/3_SeparateChromosomes
/4_OrderMarkers
/5_Trim
/6_OrderMarkers
/7_Distances
/7_DistancesSexAverage
/7_Intervals
/8_RepeatMask
/9_Chain
/10_PlaceAndOrientContigs
/11_AGP
/12_Fasta
/13_MareyMapsUntrimmed
/14_NewIntervals
/15_Trim
/16_MareyMapsTrimmed
/JoinSingles2All_iter
/RefineMap
/pedigree.txt
LOD.master
snps.txt
/*.vcf
/*.fasta
/*.fa
/*.fa.gz
/*.fasta.gz