/.snakemake
/1_ParentCall
/2_Filtering
/3_SeparateChromosomes
/4_OrderMarkers
/5_Trim
/6_OrderMarkers
/7_Distances
/7_DistancesSexAverage
/7_Intervals
/8_RepeatMask
/9_Chain
/10_Anchoring
/11_MareyMaps
/JoinSingles2All_iter
/RefineMap
/pedigree.txt
map.master
/*.vcf